{% extends 'store/main.html' %}

{% load static %}
{% block content %}
<!-- Hero section -->
<section class="hero-section">
    
    <div class="hero-slider owl-carousel">
        {% for product in dash_products %}
        <div class="hs-item set-bg" data-setbg="{{product.imageURL1}}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-7 text-white">
                        <span>New Arrivals</span>
                        <h2>{{product.product_name}}</h2>
                        <p>
                            {{product.description}} </p>
                            <button data-product={{product.id}} data-action="add" class="site-btn btn-dark update-cart">Add to Cart</button>
                            
                        <a href="{% url 'product_detail' product.id %}"class="site-btn btn-dark">DISCOVER</a>
                    </div>
                </div>
                <div class="offer-card text-white">
                    <span>from</span>
                    <h6>₹ {{product.price|floatformat:2}}</h6>
                    <p>SHOP NOW</p>
                </div>
            </div>
        </div>
        {% endfor %}



    </div>
    <div class="container">
        <div class="slide-num-holder" id="snh-1"></div>
    </div>
</section>
<!-- Hero section end -->



  <!-- Features section -->
  <section class="features-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 p-0 feature">
          <div class="feature-inner">
            <div class="feature-icon">
              <img src="{% static 'images/icons/1.png' %}" alt="#">
            </div>
            <h2>Fast Secure Payments</h2>
          </div>
        </div>
        <div class="col-md-4 p-0 feature">
          <div class="feature-inner">
            <div class="feature-icon">
              <img src="{% static 'images/icons/2.png' %}" alt="#">
            </div>
            <h2>Premium Products</h2>
          </div>
        </div>
        <div class="col-md-4 p-0 feature">
          <div class="feature-inner">
            <div class="feature-icon">
              <img src="{% static 'images/icons/3.png' %}" alt="#">
            </div>
            <h2>Free & fast Delivery</h2>
          </div>
        </div>
      </div>
    </div>
  </section>




<section class="top-letest-product-section">
    <div class="container">
      <div class="section-title">
        <h2>LATEST PRODUCTS</h2>
      </div>
      <div class="product-slider owl-carousel">
                {% for product in latest_prod %}
        <div class="product-item">
          <div class="pi-pic">
            <img src="{{product.imageURL1}}" alt="">
            <div class="pi-links">
        
              <a href="{% url 'product_detail' product.id %}" class="wishlist-btn"><i class="flaticon-heart"></i></a>
            </div>
          </div>
          <div class="pi-text">
            <h6>₹ {{product.price|floatformat:2}}</h6>
            <p>{{product.name}}</p>
          </div>
                </div>
                {% endfor %}

      </div>
    </div>
  </section>

  <div class="section-title">
    <h2>Shop by category</h2>
  </div>

  <section class="top-letest-product-section">
    <div class="container">
      <h2>Electronics</h2>
      <hr>
      <div class="product-slider owl-carousel">
                {% for product in latest_prod %}
        <div class="product-item">
          <div class="pi-pic">
            <img src="{{product.imageURL1}}" alt="">
            <div class="pi-links">
        
              <a href="{% url 'product_detail' product.id %}" class="wishlist-btn"><i class="flaticon-heart"></i></a>
            </div>
          </div>
          <div class="pi-text">
            <h6>₹ {{product.price|floatformat:2}}</h6>
            <p>{{product.name}}</p>
          </div>
                </div>
                {% endfor %}

      </div>
    </div>
  </section>
  <hr>

  <section class="top-letest-product-section">
    <div class="container">
      <h2>Clothing</h2>
      <hr>
      <div class="product-slider owl-carousel">
                {% for product in latest_prod %}
        <div class="product-item">
          <div class="pi-pic">
            <img src="{{product.imageURL1}}" alt="">
            <div class="pi-links">
        
              <a href="{% url 'product_detail' product.id %}" class="wishlist-btn"><i class="flaticon-heart"></i></a>
            </div>
          </div>
          <div class="pi-text">
            <h6>₹ {{product.price|floatformat:2}}</h6>
            <p>{{product.name}}</p>
          </div>
                </div>
                {% endfor %}

      </div>
    </div>
  </section>
  <hr>

  <section class="top-letest-product-section">
    <div class="container">
      <h2>Sports</h2>
      <hr>
      <div class="product-slider owl-carousel">
                {% for product in latest_prod %}
        <div class="product-item">
          <div class="pi-pic">
            <img src="{{product.imageURL1}}" alt="">
            <div class="pi-links">
        
              <a href="{% url 'product_detail' product.id %}" class="wishlist-btn"><i class="flaticon-heart"></i></a>
            </div>
          </div>
          <div class="pi-text">
            <h6>₹ {{product.price|floatformat:2}}</h6>
            <p>{{product.name}}</p>
          </div>
                </div>
                {% endfor %}

      </div>
    </div>
  </section>
  <hr>

  <section class="top-letest-product-section">
    <div class="container">
      <h2>Utility</h2>
      <hr>
      <div class="product-slider owl-carousel">
                {% for product in latest_prod %}
        <div class="product-item">
          <div class="pi-pic">
            <img src="{{product.imageURL1}}" alt="">
            <div class="pi-links">
        
              <a href="{% url 'product_detail' product.id %}" class="wishlist-btn"><i class="flaticon-heart"></i></a>
            </div>
          </div>
          <div class="pi-text">
            <h6>₹ {{product.price|floatformat:2}}</h6>
            <p>{{product.name}}</p>
          </div>
                </div>
                {% endfor %}

      </div>
    </div>
  </section>
  <hr>
  



{% endblock content %}